.training {
    font-family: $ff-base;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content, min-content;
    grid-template-areas:
        "description image"
        "links image";
    column-gap: 160px;
    max-width: $width-base;
    padding: 150px 120px 120px;

    &__container {
        grid-area: description;
    }

    &__title {
        @include font(700, 55px, 60px);
        letter-spacing: -0.5px;
        color: var(--color-dark);
        margin: 0 0 48px;
    }

    &__description {
        @include font(400, 18px, 28px);
        color: var(--color-light);
        opacity: 0.7;
        margin: 0 0 auto;
    }

    &__links {
        @include list();
        display: flex;
        grid-area: links;
        align-self: end;
        margin-block-end: 3px;
    }

    &__link {
        text-decoration: none;
        @include font(600, 18px, 28px);
        color: var(--color-dark);
        margin: 0 30px 0 0;
        transition: opacity 1s linear;
    }

    &__link:hover {
        opacity: 0.75;
    }

    &__image {
        @include size(580px, 460px, 0);
        grid-area: image;
    }
}
