@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");
@import url("../pages/variables.css");
.header {
  background-color: var(--color-bg-base);
  font-family: "Inter", Arial, sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 10;
}
.header__navigation {
  max-width: 1440px;
  min-height: 74px;
  display: flex;
  justify-content: flex-end;
}
.header__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  -webkit-margin-end: 86px;
          margin-inline-end: 86px;
  align-self: center;
}
.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: var(--color-dark);
  -webkit-padding-end: 34px;
          padding-inline-end: 34px;
  transition: opacity 1s linear;
}
.header__link:hover {
  opacity: 0.75;
}

.main {
  background-color: var(--color-bg-base);
}

.beginning {
  max-width: 1440px;
  -webkit-padding-start: 120px;
          padding-inline-start: 120px;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
}
.beginning__container {
  width: 460px;
}
.beginning__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  color: var(--color-dark);
  letter-spacing: -0.5px;
  margin: 80px 0 0 0;
}
.beginning__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-light);
  margin: 50px 0;
  opacity: 0.7;
}
.beginning__button {
  padding: 0;
  background-color: #24b47e;
  width: 180px;
  height: 50px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  font-family: inherit;
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background-image: linear-gradient(to left, transparent, transparent 50%, #319e75 50%, #319e75);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.3s ease-in;
}
.beginning__button:hover {
  cursor: pointer;
  background-position: 0 0;
}
.beginning__cannon-container {
  display: flex;
  margin: 167px 0 0 0;
}
.beginning__cannon {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--color-light);
  margin: 0 30px 0 0;
}
.beginning__cannon-line {
  width: 132px;
  height: 2px;
  background-color: var(--color-line);
  align-self: center;
}
.beginning__image-container {
  position: relative;
}
.beginning__image {
  width: 610px;
  height: 836px;
  -webkit-margin-before: 20px;
          margin-block-start: 20px;
}
.beginning__sticky-container {
  position: absolute;
  top: 320px;
  left: -200px;
  width: 430px;
  height: 370px;
}
.beginning__sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 73px;
  width: 340px;
  height: 260px;
  z-index: 1;
  padding: 20px 50px;
  border-radius: 20px;
  background-color: #f4f4f4;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
}

.merks {
  font-family: "Inter", Arial, sans-serif;
  padding: 120px 0 0 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "image title" "image description";
  -moz-column-gap: 80px;
       column-gap: 80px;
  max-width: 1440px;
}
.merks__image {
  width: 650px;
  height: 460px;
  grid-area: image;
}
.merks__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-margin-start: 80px;
          margin-inline-start: 80px;
}
.merks__title {
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: -0.5px;
  color: var(--color-dark);
  width: 470px;
  margin: 0;
  grid-area: title;
}
.merks__caption {
  display: flex;
  flex-direction: column;
  -webkit-margin-after: 5px;
          margin-block-end: 5px;
  grid-area: description;
  align-self: end;
}
.merks__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: var(--color-dark);
  margin: 0 0 6px;
}
.merks__job {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--color-light);
  margin: 0;
  opacity: 0.7;
}

.gallery {
  padding: 120px 0 0 120px;
  font-family: "Inter", Arial, sans-serif;
  max-width: 1440px;
}
.gallery__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: var(--color-dark);
  margin: 0;
}
.gallery__description {
  margin: 50px 0 0 0;
  width: 460px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-light);
  opacity: 0.7;
}
.gallery__container {
  display: flex;
  width: 100%;
  overflow: hidden;
  -webkit-margin-before: 80px;
          margin-block-start: 80px;
}
.gallery__image-container {
  width: 650px;
  height: 400px;
  -webkit-margin-end: 40px;
          margin-inline-end: 40px;
  position: relative;
}
.gallery__image {
  width: 650px;
  height: 400px;
}
.gallery__icon {
  position: absolute;
  left: 0;
  bottom: 16px;
  width: 100px;
  height: 40px;
}
.gallery__button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  margin: 50px 20px 0 0;
  transition: opacity 1s linear;
}
.gallery__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.bicycles {
  font-family: "Inter", Arial, sans-serif;
  padding: 120px 120px 60px 120px;
  max-width: 1440px;
}
.bicycles__container {
  display: flex;
  justify-content: space-between;
}
.bicycles__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: var(--color-dark);
  margin: 0 0 120px 0;
}
.bicycles__surfaces {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.bicycles__surface {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-light);
  opacity: 0.7;
  padding: 25px 0 0 0;
  margin: 0 0 0 40px;
  border: none;
  background: none;
  transition: opacity 1s linear;
}
.bicycles__surface_active {
  font-weight: 600;
  color: var(--color-dark);
  opacity: 1;
}
.bicycles__surface:hover {
  opacity: 0.6;
  cursor: pointer;
}
.bicycles__surface_active:hover {
  opacity: 0.75;
}
.bicycles__image-container {
  margin: 0;
}
.bicycles__image {
  width: 340px;
  height: 340px;
  border-radius: 20px;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  background-color: #f4f4f4;
  border: 20px solid #f4f4f4;
  cursor: pointer;
}
.bicycles__caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-light);
  margin: 15px 0 0 5px;
}

.training {
  font-family: "Inter", Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: -webkit-max-content, -webkit-min-content;
  grid-template-rows: max-content, min-content;
  grid-template-areas: "description image" "links image";
  -moz-column-gap: 160px;
       column-gap: 160px;
  max-width: 1440px;
  padding: 150px 120px 120px;
}
.training__container {
  grid-area: description;
}
.training__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: var(--color-dark);
  margin: 0 0 48px;
}
.training__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-light);
  opacity: 0.7;
  margin: 0 0 auto;
}
.training__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  grid-area: links;
  align-self: end;
  -webkit-margin-after: 3px;
          margin-block-end: 3px;
}
.training__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-dark);
  margin: 0 30px 0 0;
  transition: opacity 1s linear;
}
.training__link:hover {
  opacity: 0.75;
}
.training__image {
  width: 580px;
  height: 460px;
  grid-area: image;
}

.footer {
  font-family: "Inter", Arial, sans-serif;
  background-color: var(--color-bg-footer);
  padding: 80px 120px 60px;
}
.footer__content {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}
.footer__title {
  width: 229px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-dark);
  margin: 0 0 48px;
}
.footer__form {
  -webkit-margin-after: 85px;
          margin-block-end: 85px;
  width: 360px;
  position: relative;
}
.footer__input {
  width: 340px;
  height: 50px;
  border-radius: 4px;
  font-family: inherit;
  border: 1px solid rgba(199, 199, 199, 0.5);
  background: transparent;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  color: var(--color-dark);
}
.footer__input:hover {
  cursor: pointer;
}
.footer__input:focus {
  outline: 1px solid rgba(199, 199, 199, 0.5);
}
.footer__input:focus ~ .footer__submit {
  display: block;
}
.footer__submit {
  position: absolute;
  top: 11px;
  right: 11px;
  padding: 0;
  background: none;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  color: var(--color-dark);
  display: none;
  cursor: pointer;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__copyright {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-copyright);
}

.checkbox {
  display: flex;
  justify-content: center;
}
.checkbox__label {
  display: block;
  width: 44px;
  height: 24px;
  border-radius: 20px;
  background-color: var(--color-bg-checkbox);
  cursor: pointer;
  position: relative;
}
.checkbox__sun {
  margin: 0 22px 0 0;
  width: 28px;
  height: 28px;
}
.checkbox__moon {
  margin: 0 0 0 22px;
  width: 19.5px;
  height: 19.5px;
}
.checkbox__input {
  visibility: hidden;
}
.checkbox__ball {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #24b47e;
}/*# sourceMappingURL=index.css.map */