:root {
    --color-bg-base: #f4f4f4;
    --color-dark: #151515;
    --color-light: #222222;
    --color-line: #d7d4d4;
    --color-bg-checkbox: #fff;
    --color-bg-footer: #efefef;
    --color-copyright: #cfcfcf;
}
